/* Registro.css */
.usuario-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button-reg {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button-reg:hover {
    background-color: #0056b3;
}

.form-row-reg {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.form-group-reg {
    flex: 1;
    min-width: 250px;
}

.form-group-reg label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group-reg input,
.form-group-reg textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.usuario-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.usuario-table th,
.usuario-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.usuario-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.button-action {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

.button-action:hover {
    background-color: #0056b3;
}

.buttons{
    display: flex;
    height: 100%;
}


.alert {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
  }
  
  .alert-success {
    background-color: #dff0d8;
    color: #3c763d;
  }
  
  .alert-danger {
    background-color: #f2dede;
    color: #a94442;
  }