.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #16ddc6;
  width: 100%;
}

.product-quantity-container {
  margin-top: 3px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.quantity-button {
  background-color: #ff957a;
  color: white;
  border: none;
  padding: 10px;
  font-size: 28px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 10px;
  border-radius: 5px;
  
}

.quantity-button:hover {
  background-color: #004d40;
}

.quantity-text {
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px;
}

.add-to-cart {
  background-color: #00796b;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 1px;
  margin-bottom: 2px;
}

.add-to-cart:hover {
  background-color: #004d40;
}
